[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"
pylint-flask = "*"
coveralls = "*"
bandit = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
click = "*"
sendgrid = "*"

[requires]
python_version = "3.8"
